@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@font-face {
    font-family: 'urdufont_';
    src: url("Nika\ Regular\ -\ [UrduFonts.com].ttf")
    format("truetype");
}
@font-face {
    font-family: 'hindifont_';
    src: url("Aparajita.ttf")
    format("truetype");
}
@font-face {
    font-family: 'englishfont_';
    src: url('Looking.otf')
    format("truetype");
}
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    color: white;
}
html,body{
    width: 100vw;
    height: 100vh;
}
[lang="urdu"] {
    font-family: 'urdufont_';
}
[lang="hindi"] {
    font-family: 'hindifont_';
}
[lang="angreji"]{
    font-family: 'englishfont_';
}
.normal{
    border-radius: 7px;
    background-color: rgb(9, 197, 53);
    padding: 5px 10px;
    border: none;
    font-size: 1rem;
}
#main{
    height: 100%;
    width: 100%;
}
#main #web_header{
    width: 100%;
    height: 12%;
    background-color: rgb(34, 32, 32);
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-around;
}
#main #web_header #options{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#main #web_header #options li{
    list-style: none;
    margin: 0px 10px;
}
#main #web_header #options li i{
    margin-left: 4px;
}
#main #web_header #close{
    display: none;
}
#main #web_header #mobile_list_icon{
    display: none;
}
#search_system{
    display: flex;
    align-items: center;
    width: 30%;
    position: relative;
}
#search_system input{
    border: none;
    outline: none;
    border-radius: 2px;
    padding: 5px 10px;
    width: 100%;
    background-color: rgb(45, 43, 43);
    margin-left: 5px;
}
#search_system i{
    margin-left: 5px;
    cursor: pointer;
}
#search_system .search_results{
    position: absolute;
    width: 100%;
    height: 200px;
    left: 0;
    top: 28px;
    overflow: auto;
    /* border: 1px solid white; */
    z-index: 18;
}
#search_system .search_results::-webkit-scrollbar{
    display: none;
}
#search_system .search_results .card{
    width: 100%;
    min-height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: hsla(0, 100%, 50%, 0.584);
    margin-bottom: 5px;
    border-radius: 6px;
    padding: 5px 10px;
    display: none; 
    cursor: pointer;
    /* border: 1px solid white; */
    backdrop-filter: blur(20px);
    gap: 10px;
}
#search_system .search_results .card img{
    width: 35px;
    height: 35px;
    border-radius: 5px;
}
#search_system .search_results .card marquee{
    border: 1px solid goldenrod;
    
}
#search_system .search_results .card marquee span{
    font-weight: 200;
}
#search_system .search_results .card i{
    color: rgb(37, 202, 139);
}
#search_system .search_results .card .content{
    width: 90%;
    height: 100%;
    padding: 0;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    margin-left: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#search_system .search_results .card .subtitel{
    font-size: 11px;
    color: #a4a8b4;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#logo{
    width: 55px;
    height: 55px;
    border-radius: 3px;
    border: 1px solid darkgreen;
}
#sub_main{
    height: 75%;
    width: 100%;
    display: flex;
}
#main #sub_main #playlist{
    width: 25%;
    height: 100%;
    background-color: rgb(49, 46, 46);
}
#main #sub_main #playlist #playlist_header{
    height: 25%;
    padding: 0px 20px;
}
#main #sub_main #playlist #playlist_header h4{
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 10px;
    color: #4c5262;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: .3s linear;
}
#main #sub_main #playlist #playlist_header h4:hover{
    color: #fff;
}
#main #sub_main #playlist #playlist_header h4 span{
    position: relative;
    margin-right: 35px;
}
#main #sub_main #playlist #playlist_header h4 span::before{
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    border: 2px solid #4c5262;
    border-radius: 50%;
    top: -4px;
    transition: .3s linear;
}
#main #sub_main #playlist #playlist_header h4:hover span::before{
    border: 2px solid #fff;
}
#main #sub_main #playlist #playlist_header h4 .bi{
    display: none;
}
#main #sub_main #playlist #playlist_header .active {
    color: #36e2ec;
}
#main #sub_main #playlist #playlist_header .active span{
    display: none;
}
#main #sub_main #playlist #playlist_header .active .bi{
    display: flex;
    margin-right: 20px;
}
#main #sub_main #playlist #playlist_header .active .bi{
    display: flex;
    margin-right: 20px;
}
#main #sub_main #playlist #playlist_songs{
    padding: 0px 20px;
    height: 75%;
    overflow-y: auto;
}
#main #sub_main #playlist #playlist_songs::-webkit-scrollbar{
    display: none;
}
#main #sub_main #playlist #playlist_songs li{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 10px;
    cursor: pointer;
    transition: .3s linear;
    flex-shrink: 0;
    border-radius: 5px;
    padding: 2px;
}
#main #sub_main #playlist #playlist_songs li:hover{
    background-color: rgba(47, 47, 65, 0.5);
}
#main #sub_main #playlist #playlist_songs li img,
#main #sub_main #songs #trending_songs .trending_song_item img{
    margin-left: 15px;
    height: 32px;
    width: 35px;
    border-radius: 5px;
    transition: .2s linear;
}
#main #sub_main #playlist #playlist_songs li h5,
#main #sub_main #songs #trending_songs .trending_song_item h5{
    margin-left: 8px;
    color: #4c5262;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 15px;
    /* width: 100px; */
    width: 60%;
    transition: .3s linear;
}
#main #sub_main #playlist #playlist_songs li h5 .subtitel,
#main #sub_main #songs #trending_songs .trending_song_item h5 .subtitel{
    font-size: .8rem;
    font-weight: 200;
    color: #4c5262;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#main #sub_main #playlist #playlist_songs li i{
    margin-left: 10px;
    color: rgb(37, 202, 139);
    cursor: pointer;
}
#main #sub_main #playlist #playlist_songs li h5:hover,
#main #sub_main #songs #trending_songs .trending_song_item h5:hover{
    color: white;
}
#main #sub_main #songs{
    width: 75%;
    height: 100%;
    background-color: rgb(43, 42, 42);
    overflow-y: auto;
    overflow-x: hidden;
}
#main #sub_main #songs::-webkit-scrollbar{
    display: none;
}
#main #sub_main #songs #trending_songs{
    width: 100%;
    height: 60%;
    /* background: url('pics/Musiq\ Logo\ Design.png') center/cover no-repeat;
    overflow: hidden; */
    position: relative;
}
#main #sub_main #songs #trending_songs #poster_pic{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 1;
    transition: .2s linear;
    /* transition: opacity 1s ease; */
}
/* Niche se blur karne k liye */
#main #sub_main #songs #trending_songs::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50%;
    background: inherit;
    filter: blur(20px);
    transform: scale(1.1);
}
#main #sub_main #songs #trending_songs::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60%;
    background: linear-gradient(to bottom, transparent,rgb(43, 42, 42));
}
#main #sub_main #songs #trending_songs #left,
#main #sub_main #songs #trending_songs #right{
    position: absolute;
    border-radius: 2px;
    padding: 3px;
    bottom: 100px;
    z-index: 2;
    cursor: pointer;
}
#main #sub_main #songs #trending_songs #left{
    left: 20px;
}
#main #sub_main #songs #trending_songs #right{
    right: 20px;
}
#main #sub_main #songs #trending_songs .trending_song_item{
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px 10px;
    width: 50%;
    background-color: #212224;
    border-radius: 5px;
    position: absolute;
    bottom: 20px;
    left: 30px;
    cursor: pointer;
}
#main #sub_main #songs #trending_songs .trending_song_item:hover{
    background-color: #323439;
}
#main #sub_main #songs #trending_songs .trending_song_item i{
    color: rgb(37, 202, 139);
}
.heading{
    font-size: 1.2rem;
    padding-left: 30px;
}
.heading{
    display: flex;
    justify-content: space-between;
}
.heading div{
    margin-right: 10px;
}
.heading div i{
    color: #4c5262;
    cursor: pointer;
    transition: .2s linear;
}
.heading div i:hover{
    color: #36e2ec;
}
#main #sub_main #songs #trending_songs_with_numbars{
    height: 40%;
    width: 100%;
}
#main #sub_main #songs #trending_songs_with_numbars .pop_songs{
    width: 100%;
    overflow-x: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 20px;
    gap: 10px;
    scroll-behavior: smooth;
}
#main #sub_main #songs #trending_songs_with_numbars .pop_songs::-webkit-scrollbar{
    display: none;
}
#main #sub_main #songs #trending_songs_with_numbars .pop_songs .trending_song_box{
    display: flex;
    flex-shrink: 0;
}
.pop_songs .trending_song_box .song_item{
    min-width: 100px;
    height: 145px;
    list-style-type: none;
    margin-right: 10px;
    transition: .3s linear;
    border-radius: 2px;
    background: #1f2023;
    border-radius: 5px;
    overflow: hidden;
}
.pop_songs .trending_song_box  .song_item:hover{
    background: #2a2c30;
}
.pop_songs .trending_song_box  .song_item .img_play{
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pop_songs .trending_song_box  .song_item .img_play img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.pop_songs .trending_song_box  .song_item .img_play i{
    font-size: 20px;
    cursor: pointer;
    transition: .3s linear;
    opacity: 0;
    color: rgb(62, 245, 208);
}
.pop_songs .trending_song_box  .song_item .img_play i:hover{
    opacity: 1;
}
.pop_songs .trending_song_box  .song_item h5{
    padding: 5px 0px 0px 5px;
    line-height: 15px;
    font-size: 10px;
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.pop_songs .trending_song_box  .song_item h5 .subtitel{
    font-size: 9px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #4c5262;
}
#main #sub_main #songs #trending_songs_with_numbars .pop_songs .trending_song_box .sr_numbar{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 5rem;
    margin: 0;
    text-align: center;
    font-weight: 900;
    color: transparent;
    -webkit-text-stroke: 1px rgb(0, 128, 102);
}
#main #sub_main #songs #popular_songs1 .pop_songs,
#main #sub_main #songs #popular_songs2 .pop_songs,
#movie_songs .pop_songs
{
    padding: 10px 20px;
    height: 165px;
    overflow-x: auto;
    display: flex;
    scroll-behavior: smooth;
}
#main #sub_main #songs #popular_songs1 .pop_songs::-webkit-scrollbar,
#main #sub_main #songs #popular_songs2 .pop_songs::-webkit-scrollbar,
#main #sub_main #songs #movie_songs .pop_songs::-webkit-scrollbar{
    display: none;
}
.pop_songs .song_item{
    min-width: 100px;
    height: 145px;
    list-style-type: none;
    margin-right: 10px;
    transition: .3s linear;
    border-radius: 2px;
    background: #1f2023;
}
.pop_songs .song_item:hover{
    background: #2a2c30;
}
.pop_songs .song_item .img_play{
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pop_songs .song_item .img_play img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.pop_songs li .img_play i{
    position: absolute;
    font-size: 20px;
    cursor: pointer;
    transition: .3s linear;
    opacity: 0;
    color: rgb(62, 245, 208);
}
.pop_songs li:hover .img_play i{
    opacity: 1;
}
.pop_songs .song_item h5{
    padding: 5px 0px 0px 5px;
    line-height: 15px;
    font-size: 10px;
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.pop_songs .song_item h5 .subtitle{
    font-size: 9px;
    width: 90px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #4c5262;
}
#artists #pa_container{
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
    overflow-y: auto;
    scroll-behavior: smooth;
}
#artists #pa_container::-webkit-scrollbar{
    display: none;
}
#artists #pa_container .artist{
    height: 140px;
    width: 100px;
    background: #1f2023;
    border-radius: 5px;
    padding: 15px 8px;
    flex-shrink: 0;
    margin-left: 20px;
    transition: .2s linear;
}
#artists #pa_container .artist:hover{
    background: #2a2c30;
}
#artists #pa_container .artist img{
    object-fit: cover;
    height: 84px;
    width: 84px;
    border-radius: 50%;
} 
#artists #pa_container .artist h2{
    font-size: 0.8rem;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#artists #pa_container .artist span{
    font-size: 0.7rem;
    font-weight: 400;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
footer{
    margin-top: 100px;
    padding: 20px 15px; 
}
footer #links_container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 80px 5px;
}
footer #links_container ul{
    margin-left: 50px;
    margin-bottom: 50px;
}
footer #links_container ul li,
footer #links_container #icons li i{
    list-style: none;
    margin-bottom: 5px;
    color: #4c5262;
    transition: .2s linear;
}
footer #links_container #icons li i{
    font-size: 1.5rem;
}
footer #links_container #icons li{
    list-style: none;
    margin-left: 10px;
    margin-bottom: 10px;
} 
  footer #links_container li:hover,
  footer #links_container #icons li i:hover{
    cursor: pointer;
    color: #fff;
}
  footer #links_container li strong:hover,
  footer #links_container #icons li strong:hover{
    cursor:alias;
}
footer h3{
    text-align: center;
    padding: 10px 0px;
}
#play_system{
    width: 100%;
    height: 13%;
    box-shadow: 0px 3px 8px #090f1f;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    background-color: #090f1f;
}
#play_system #div1{
    width: 85%;
    height: 100%;
    display: flex;
    align-items: center;
}
#play_system #div1 #div2{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
}
#play_system #div1 #div3{
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
}
#play_system #div1 #div3 #manege_system{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
}
#play_system .wave{
    width: 30px;
    height: 30px;
    padding-bottom: 5px;
    display: flex;
    align-items: flex-end;
    margin-left: 10px;
}
#play_system .wave .wave1{
    width: 3px;
    height: 10px;
    background-color: rgb(20, 231, 189);
    margin-right: 3px;
    border-radius: 10px 10px 0px 0px;
}
#play_system .wave .wave1:nth-child(2){
    height: 13px;
    margin-right: 3.5px;
    animation-delay: .4s;
}
#play_system .wave .wave1:nth-child(3){
    height: 8px;
    animation-delay: .8s;
}
/* Javascript classes */
#play_system .active .wave1 {
    animation: wave .5s linear infinite;
}
#play_system .active .wave1:nth-child(2){
    animation-delay: .4s;
}
#play_system .active .wave1:nth-child(3){
    animation-delay: .8s;
}
@keyframes wave{
    0%  {
        height: 10px;
    }
    50% {
        height: 15px;
    }
    100% {
        height: 10px;
    }
}
#play_system img{
    width: 45px;
    height: 45px;
    border-radius: 2px;
}
#play_system h5{
    width: 150px;
    margin-left: 15px;
    color: white;
    line-height: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13px;
}
#play_system h5 marquee{
    border: 1px solid darkgreen;
}
#play_system h5 .subtitle{
    color: #4c5262;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 11px;
}
#play_system .icon{
    font-size: 20px;
    margin: 0px 20px 0px 40px;
    outline: none;
    display: flex;
    align-items: center;
}
#play_system .icon .bi{
    cursor: pointer;
    outline: none;
    color: darkgreen;
}
#play_system .icon .shuffle{
    font-size: 17px;
    margin-right: 10px;
    width: 18px;
    overflow: hidden;
    display: flex;
    align-items: center;
}
#play_system .icon #dowload_music{
    text-decoration: none;
    /* color:  rgb(20, 231, 189); */
    font-size: 20px;
    margin-left: 10px;
}
#play_system .icon .bi:nth-child(3){
    border: 1px solid rgb(105, 105, 105,0.1);
    border-radius: 50%;
    padding: 1px 5px 0px 7px;
    margin: 0px 5px;
}
#play_system span{
    color: white;
    width: 32px;
    font-size: 11px;
    font-weight: 400;
}
#play_system #current_time{
    margin: 0px 0px 0px 20px;
}
#play_system .bar{
    position: relative;
    width: 90%;
    height: 2px;
    background: rgb(105, 105, 105, 0.5);
    margin: 0px 15px 0px 10px;
}
#play_system .bar #bar2{
    position: absolute;
    background-color:  rgb(20, 231, 189);
    width: 0%;
    height: 100%;
    top: 0;
    transition: 1s linear;
}
#play_system .bar .dot{
    position: absolute;
    width: 5px;
    height: 5px;
    background-color:  rgb(20, 231, 189);
    border-radius: 50%;
    left: 0%;
    top: -1.5px;
    transition: 1s linear;
}
#play_system .bar .dot:hover{
    top: -1.8px;
    width: 7px;
    height: 7px;
    background-color:  rgb(23, 206, 169);
    cursor: pointer;
}
#play_system .bar input{
    position: absolute;
    width: 100%;
    top: -7px;
    left: 0;
    cursor: pointer;
    z-index: 21;
    opacity: 0;
    
}
#play_system .vol{
    position: relative;
    width: 100px;
    height: 2px;
    background: rgb(105, 105, 170, 0.5);
    margin-left: 50px;
}
#play_system .vol .bi{
    position: absolute;
    color:  darkgreen;
    font-size: 25px;
    top: -12px;
    left: -30px;
}
#play_system .vol input{
    position: absolute;
    width: 100%;
    top: -6px;
    left: 0;
    cursor: pointer;
    z-index: 22;
    opacity: 0;
}
#play_system .vol .vol_bar{
    position: absolute;
    background-color:  rgb(20, 231, 189);
    width: 100%;
    height: 100%;
    top: 0;
    transition: 1s linear;
}
#play_system .vol .dot{
    position: absolute;
    width: 5px;
    height: 5px;
    background-color:  rgb(20, 231, 189);
    border-radius: 50%;
    left: 100%;
    top: -1.5px;
    transition: 1s linear;
}
#play_system .vol .dot:hover{
    cursor: pointer;
    top: -1.8px;
    width: 7px;
    height: 7px;
    background-color:  rgb(23, 206, 169);
}
.popup-overlay{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 21;
}
.popup-box{
    background: white;
    padding: 30px;
    border-radius: 10px;
    height: 60vh;
    width: 70vw;
    max-height: 200px;
    max-width: 500px;
    text-align: center;
    position: absolute;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.popup-box img{
    width: 50%;
    height: 100%;
    border-radius: 5px;
}
.popup-box #popup_details{
    color: black;
    width: 50%;
}
.popup-box #popup_details #closeBtn{
    background: red;
    padding: 0px 5px;
    border-radius: 2px;
}
.popup-box #popup_details button{
    cursor: pointer;
}
.popup-box #popup_details marquee{
    box-shadow: 1px 2px 5px black;
    width: 70%;
    display: inline-block;
    margin-bottom: 15px;
    color: darkgreen;
    font-family: cursive;
}
#closeBtn{
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    font-size: 20px;
}
.popup-box #popup_details button:hover{
    transform: scale(1.05);
}
#mobile_footer{
    display: none;
}
@media (max-width:850px) { 
    html, body {
        overflow-x: hidden;
    }  
    #main #web_header  #options{
        padding-top: 150px;
        padding-left: 30px;
        justify-content: start;
        align-items: flex-start;
        flex-direction: column;
        height: 87vh;
        width: 200px;
        z-index: 18;
        background-color: #323439;
        position: absolute;
        top: 0;
        right: 0;
        display: none;
        transition: .2s linear;
    }
    #main #web_header  #options li{
        margin-bottom: 20px;
    }
    #main #web_header #close{
        position: absolute;
        right: 20px;
        top: 20px;
        display: block;
        background-color: transparent;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: red;
    }
    #main #web_header #search_system{
        width: 50%;
    }
    #main #web_header #mobile_list_icon{
        display: block;
        font-size: 1rem;
    }
}
@media (max-width:499px) {
    #main #web_header  #options{
        height: 79vh;
        
    }
    #main #sub_main{
        height: 67%;
    }
    #main #sub_main #playlist{
        display: none;
        width: 100%;
    }
    #main #sub_main #playlist #playlist_header {
        height: 35%;
        padding: 20px 40px;
    }
    #main #sub_main #playlist #playlist_header h1{
        margin-bottom: 10px;
        font-size: 3rem;
    }
    #main #sub_main #playlist #playlist_header h4{
        font-size: 20px;
    }
    #main #sub_main #playlist #playlist_songs {
        padding: 0px 20px;
        height: 65%;
        overflow-y: auto;
    }
    #main #sub_main #songs{
        width: 100%;
    }
    #main #web_header #search_system label{
        display: none;
    }
    #main #mobile_footer{
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: black;
        height: 8%;
        width: 100%;
    }
    #main #mobile_footer .feature{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #main #play_system{
        position: relative;
    }
    #main #play_system #div1{
        flex-direction: column;
        width: 90%;
    }
    #main #play_system #div1 #div2{
        width: 100%;
        height: 60%;
    }
    #main #play_system #div1 #div3{
        flex-direction: column;
        flex-direction: column-reverse;
        width: 100%;
        height: 40%;
        margin-top: 5px;
    }
    #play_system #div1 #div3 #manege_system{
        width: 100%;
    }
    #play_system .wave .wave1{
        height: 14px;
    }
    #play_system .wave .wave1:nth-child(2){
        height: 17px;
    }
    #play_system .wave .wave1:nth-child(3){
        height: 13px;
    }
    #main #play_system #poster_master_play{
        width: 45px;
        height: 45px;
    }
    #main #play_system #title{
        width: 60%;
    }
    #main #play_system .vol{
        position: absolute;
        transform: rotate(270deg);
        right: -20px;
        width: 20%;
    }
    #play_system .vol .bi{
        transform: rotate(90deg);
        position: absolute;
        top: 30px;
        right: -50px;   

    }
    .popup-box{
        width: 90vw;
    }

}


